<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="New Rule Set" Description=" " ToolsVersion="10.0">
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1000" Action="Warning" />
    <Rule Id="CA1004" Action="Warning" />
    <Rule Id="CA1007" Action="Warning" />
    <Rule Id="CA1012" Action="Warning" />
    <Rule Id="CA1024" Action="Warning" />
    <Rule Id="CA1025" Action="Warning" />
    <Rule Id="CA1036" Action="Warning" />
    <Rule Id="CA1038" Action="Warning" />
    <Rule Id="CA1039" Action="Warning" />
    <Rule Id="CA1040" Action="Warning" />
    <Rule Id="CA1044" Action="Warning" />
    <Rule Id="CA1064" Action="Warning" />
    <Rule Id="CA1500" Action="Warning" />
    <Rule Id="CA1501" Action="Warning" />
    <Rule Id="CA1502" Action="Warning" />
    <Rule Id="CA1504" Action="Warning" />
    <Rule Id="CA1505" Action="Warning" />
    <Rule Id="CA1506" Action="Warning" />
    <Rule Id="CA1700" Action="Warning" />
    <Rule Id="CA1702" Action="Warning" />
    <Rule Id="CA1703" Action="Warning" />
    <Rule Id="CA1707" Action="Warning" />
    <Rule Id="CA1712" Action="Warning" />
    <Rule Id="CA1714" Action="Warning" />
    <Rule Id="CA1715" Action="Warning" />
    <Rule Id="CA1716" Action="Warning" />
    <Rule Id="CA1717" Action="Warning" />
    <Rule Id="CA1719" Action="Warning" />
    <Rule Id="CA1720" Action="Warning" />
    <Rule Id="CA1721" Action="Warning" />
    <Rule Id="CA1722" Action="Warning" />
    <Rule Id="CA1724" Action="Warning" />
    <Rule Id="CA1725" Action="Warning" />
    <Rule Id="CA1800" Action="Warning" />
    <Rule Id="CA1802" Action="Warning" />
    <Rule Id="CA1809" Action="Warning" />
    <Rule Id="CA1811" Action="Warning" />
    <Rule Id="CA1813" Action="Warning" />
    <Rule Id="CA1814" Action="Warning" />
    <Rule Id="CA1820" Action="Warning" />
    <Rule Id="CA2211" Action="Warning" />
    <Rule Id="CA2242" Action="Warning" />
  </Rules>
</RuleSet>